#qrtizeWidgetWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Arial' !important;
  z-index: 999;

  .widget.popup {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 808px;
    max-width: 808px;
    flex-wrap: wrap;
    position: relative;

    @media screen and (min-width: 405px) and (max-width: 809px) {
      width: 404px;
      max-width: 404px;
    }

    @media screen and (min-width: 230px) and (max-width: 404px) {
      width: 230px;
      max-width: 230px;
    }

    .close {
      width: 22px;
      height: 22px;
      border-radius: 22px;
      position: absolute;
      right: -10px;
      top: -10px;
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 10px;
        width: 10px;
      }
    }

    &>div:not(.close) {
      width: 404px;
      min-height: 340px;
      
  
      @media screen and (min-width: 405px) and (max-width: 809px) {
        width: 404px;
        max-width: 404px;
      }

      @media screen and (max-width: 404px) {
        width: 230px;
        max-width: 230px;
        min-height: 560px;
      }
    }

    .header {
      display: flex;
      min-height: 50px;
      justify-content: space-around;
      align-items: center;
      background: transparent;

      @media screen and (max-width: 404px) {
        // margin-top: 21px;
        padding: 23px 0;
      }

      .cards {
        width: 100%;
        max-width: 195px;
        padding-left: 30px;

        @media screen and (max-width: 404px) {
          margin-top: 21px;
          padding-left: 0;
        }

        .card {
          width: 39px;
          background-size: 39px 33px;
          border: none;
          background-color: transparent;
        }
      }
    }

    .promoSide {
      background: url('https://qrtize-dev.s3-us-west-1.amazonaws.com/icons/widge-popup-dollar-background.svg') no-repeat right bottom, linear-gradient(90deg, #00c6f8 0%, #0673f7 100%);
      background-size: 408px 414px;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 768px) {
        display: none;
      }

      // background-color: red;
      @media screen and (min-width: 405px) and (max-width: 809px) {
        background-size: 408px 414px;
        // background-position: bottom right;
      }

      @media screen and (max-width: 404px) {
        background-size: 404px 880px;
      }

      .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        justify-content: space-between;
        border-width: 4px;

        .logo {
          width: auto;

          img {
            height: 50px;
          }
        }

        .cards {
          padding-top: 0;
        }
      }

      .body {
        padding: 0 12px;
        // font-family: Open Sans;
        background-color: transparent;

        .description {
          // font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 13px;
          letter-spacing: 0.1px;
          color: #fff;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-top: 22px;
          padding-bottom: 6px;
          text-align: left;
          max-width: max-content;

          @media screen and (max-width: 404px) {
            line-height: 17px;
            padding-top: 20px;
            padding-bottom: 0px;
          }

          .row {
            position: relative;
            padding-left: 30px;
            margin: 10px 0;
            width: 100%;

            @media screen and (max-width: 404px) {
              width: auto;
              margin: 8px 0;
            }

            &:before {
              content: "";
              width: 18px;
              height: 18px;
              border-radius: 10px;
              position: absolute;
              left: 2px;
              top: -2px;
              background-image: url(../images/ckeck_mark.svg);
              background-size: 18px 18px;
            }
          }
        }
      }

      .footer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 16px;
        border: none;

        .row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0;

          @media screen and (max-width: 404px) {
            justify-content: space-around;
          }

          .badgeAppStore {
            padding: 17px 0px 8px;

            img {
              width: 143px;
              height: 44px;
            }
          }

          .youtubeRef {
            width: 142px;
            height: 45px;
            background-size: 174px 44px;
            padding: 17px 0px 8px;

            img {
              width: 100%;
              border-radius: 10px;
            }
          }

          .link {
            font-size: 22px;
            font-weight: 600;
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            margin-top: 5px;

            @media screen and (max-width: 404px) {
              padding-top: 25px;
            }
          }
        }
      }
    }

    &>div.qrCodeSide {
      background-color: #ffffff;

      @media screen and (max-width: 404px) {
        min-height: 446px;
      }

      .header {
        // font-family: Open Sans;
        font-style: normal;
        // font-weight: bold;
        // font-size: 21px;
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: 28px;
        border-bottom: 1px solid rgb(222 229 255);

        .bredcrumbs {
          text-align: center;

          .breadcrumb {
            // color: #00c6f8;
            display: contents;
          }
        }

        @media screen and (max-width: 404px) {
          font-size: 13px;
          line-height: 17px;
          padding: 0 18px;
        }
      }

      .body {
        .leftSide {
          padding: 16px 0;

          @media screen and (max-width: 404px) {
            padding-bottom: 0px;
          }
        }

        .rightSide {
          border: none;
          display: flex;
          align-items: center;
          padding-left: 8px;
          padding-right: 20px;

          @media screen and (max-width: 404px) {
            padding: 0px 8px;
            margin-bottom: 0;
          }

          .description {
            font-size: 25px;
            letter-spacing: -0.7px;
            line-height: 32px;
            .desktopDesc {
              @media screen and (max-width: 768px) {
                display: none;
              }
            }
            .mobileDesc {
              @media screen and (min-width: 768px) {
                display: none;
              }
            }
          }
        }
      }

      .footer {
        font-size: 16px;

        .state {
          &>div {
            height: 42px;
          }
        }
      }
    }
  }
}