/* Spinner */

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #fff;
  top: 86px;
  left: 74px;
  display: none;
}
.lds-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.8s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 17px;
  width: 5px;
  height: 10px;
  border-radius: 41%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.7s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -1.5s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -1.3s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(360deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}