@import url(../fonts/opensans/opensans.css);

.js-widget-overlay {
    z-index: 10001;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
    background-color: #000;
}

.payment-widget {
    position: fixed;
    z-index: 10002;
    background: #fff;
    left: 50%;
    top: 30%;
    margin: 0 0 0 -120px;
    width: 200px;
    padding: 10px 20px;
    border: solid 1px #333
}

.widget {
    font-family: 'Arial' !important;
}

.widget * {
    box-sizing: content-box;
}

.widget .header {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    /* height: 86px; */
    background: url('https://qrtize-dev.s3-us-west-1.amazonaws.com/icons/plugin-dollar-background.svg') no-repeat right bottom, linear-gradient(90deg, #00c6f8 0%, #0673f7 100%);

    .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;

        img {
            height: 50px;
        }
    }

    .youtubeRef {
        width: 157px;
        height: 52px;
        background-size: 174px 52px;
        background-repeat: no-repeat;
        background-position: -11px 17px;
        background-image: url(../images/more.svg);
        padding: 17px 0px;

    }

    .row {
        margin-left: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        color: white;
    }


    .row:before {
        top: 15px;
        content: "";
        display: block;
        background-image: url("https://qrtize-dev.s3-us-west-1.amazonaws.com/icons/check-icon-white.png");
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        float: left;
        margin: 0 6px 0 0;
        top: 3px;
        position: relative;
    }
}

/* BODY */
.widget .body {
    /* height: 147px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* padding: 17px 17px 17px 0; */
    background-color: white;

    .leftSide {
        max-width: 188px;
        position: relative;

        #QRcode-wrapper {
            height: 154px;
            padding: 17px;

            .QRStub {
                display: none;
                /* ToDo should refactored after release logic */
                width: 154px;
                height: 154px;
                background-size: 154px 154px;
            }
        }
    }

    .rightSide {
        padding-left: 17px;
        padding-right: 17px;
        border-left: 1px solid rgb(222 229 255);
        margin: 17px 0;

        .cards {
            display: flex;
            justify-content: space-between;
            height: 29px;
            padding-top: 10px;

            .card {
                width: 59px;
                background-size: 43px 29px;
                background-repeat: no-repeat;
                /* background-position: -5px 0; */
            }
        }
    }

    .description {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
        align-items: center;
        letter-spacing: -0.3px;
        color: #000;
        padding-top: 16px;
        padding-bottom: 16px;
        max-width: 273px;
    }

    .qrtize-text {
        color: #0473F7
    }

    .refference .url a {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 15px;
        align-items: center;
        text-decoration-line: underline;
        color: #000;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    height: 29px;
    padding-top: 10px;

    .card {
        width: 59px;
        background-size: 43px 29px;
        background-repeat: no-repeat;
        /* background-position: -5px 0; */

        &.visa {
            background-image: url(../images/visa.svg);
        }

        &.mc {
            background-image: url(../images/mc.svg);
        }

        &.discovery {
            background-image: url(../images/discovery.svg);
        }

        &.express {
            background-image: url(../images/express.svg);
        }
    }
}

.widget .body .refference {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.widget .body .refference .appleIco img {
    width: 24px;
    height: 28px;
    position: absolute;
    top: -7px;
    right: -1px;
}

.widget .body .refference .badgeAppStore {
    padding-top: 17px;
    display: none;
}

.widget .body .refference .badgeAppStore img {
    width: 154px;
    /* height: 60px; */
}

.widget .footer {
    /* height: 48px; */
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid rgb(222 229 255);
}

.controls {
    display: none;
}

.widget .footer .state>div {
    display: none;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    height: 48px;
}

/* waiting */
.widget.waiting .footer .state>.waiting {
    display: flex;
    background-color: #ffffff;
    color: #000000;
}

.widget.scaned .body .leftSide #QRcode-wrapper canvas,
.widget.approved .body .leftSide #QRcode-wrapper canvas,
.widget.inprogress .body .leftSide #QRcode-wrapper canvas,
.widget.declined .body .leftSide #QRcode-wrapper canvas,
.widget.failed .body .leftSide #QRcode-wrapper canvas {
    display: none;
    width: 150px;
    /* ToDo dev mode the canvas should be removed from DOM */
}

.widget.approved .footer .state>.approved i,
.widget.failed .footer .state>.failed i,
.widget.declined .footer .state>.declined i {
    width: 15px;
    height: 15px;
    position: absolute;
    background-size: 15px 15px;
    left: 0px;
    top: 5px;
}

.widget.declined .footer .state>.declined i {
    left: 70px;
}

.widget.approved .footer .state>.approved>div,
.widget.failed .footer .state>.failed>div,
.widget.declined .footer .state>.declined>div:first-child {
    padding-left: 20px;
    position: relative;
}

.widget.declined .footer .state>.declined>div:last-child {
    padding-left: 15px;
    position: relative;
}

/* scaned */
.widget.scaned .body .leftSide #QRcode-wrapper .QRStub {
    display: block;
    background-image: url(../images/qr_scaned.svg);
}

.widget.scaned .footer .state>.scaned {
    display: flex;
    background-color: #00BF7E;
}

/* approved */
.widget.approved .body .leftSide #QRcode-wrapper .QRStub {
    display: block;
    background-image: url(../images/qr_approved.svg);
}

.widget.approved .footer .state>.approved {
    display: flex;
    background-color: #00BF7E;
}

.widget.approved .footer .state>.approved i {
    background-image: url(../images/check.svg);
}

/* inprogress */
.widget.inprogress .body .leftSide #QRcode-wrapper .QRStub {
    display: block;
    background-image: url(../images/qr_inprogress.svg);
}

.widget.inprogress .body .leftSide #QRcode-wrapper .lds-spinner {
    display: block;
}

.widget.inprogress .footer .state>.inprogress {
    display: flex;
    background-color: #2954FF;
}

.widget.inprogress .footer .state>.inprogress i {
    background-image: url();
}

/* failed */
.widget.failed .body .leftSide #QRcode-wrapper .QRStub {
    display: block;
    background-image: url(../images/qr_failed.svg);
}

.widget.failed .footer .state>.failed {
    display: flex;
    background-color: #E80026;
}

.widget.failed .footer .state>.failed i {
    background-image: url(../images/cross.svg);
}

/* declined */
.widget.declined .body .leftSide #QRcode-wrapper .QRStub {
    display: block;
    background-image: url(../images/qr_declined.svg);
}

.widget.declined .footer .state>.declined {
    display: flex;
    background-color: #E80026;
}

.widget.declined .footer .state>.declined>div:first-child i {
    background-image: url(../images/cross.svg);
}

.widget.declined .footer .state>.declined>div:last-child i {
    background-image: url(../images/refresh.svg);
}

.widget.declined .footer .state>.declined .devider {
    width: 2px;
    background-color: #ffffff;
    height: 30px;
}

.widget.declined .footer .state>.declined>div:first-child,
.widget.declined .footer .state>.declined>div:last-child {
    width: 50%;
    text-align: center;
}

@media (max-width:462px) {
    .widget .header {
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 17px;
        min-width: 154px;
        width: auto;
    }

    .widget .header .logo,
    .widget .header .description,
    .widget .header .youtubeRef {
        width: 250px;
        padding-top: 3px;
        padding-bottom: 0;
    }

    .widget .header .description .row {
        padding-top: 17px;
        padding-bottom: 4px;
        line-height: 18px;
    }

    .widget .header .youtubeRef {
        padding-top: 15px;
        padding-bottom: 0;
        background-position: -10px 16px;
    }

    .widget .body {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 0;
    }

    /* .widget .body .leftSide #QRcode-wrapper{
        height: 188px;
    } */

    .widget .body .rightSide {
        border-left: none;
        border-top: 1px solid rgb(222 229 255);
        
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;

        padding-top: 17px;
        margin-left: 17px;
        margin-right: 17px;
    }

    .widget .body .rightSide .cards {
        padding-top: 0;
    }

    .widget .body .rightSide .cards .card {
        width: 32px;
        background-size: 43px 20px;
        background-position: -5px 0px;
    }

    .widget .body .description {
        text-align: center;
        padding-top: 2px;
        padding-bottom: 22px;
    }

    .widget .body .refference {
        justify-content: center;
    }

    .widget .body .refference .url,
    .widget .body .refference .badgeAppStore {
        width: 100%;
        text-align: center;
    }

    .widget .body .refference .appleIco {
        display: none;
    }

    .widget .body .refference .badgeAppStore {
        display: block;
        padding-top: 26px;
    }

}