<div id="qrtize-plugin-widget" class="widget waiting">
    <div class="header">
        <div class="logo">
            <img src="https://qrtize-dev.s3-us-west-1.amazonaws.com/logos/qrtize-logo-blue-white.png" alt="QRTize Logo">
        </div>
        <div class="description">
            <div class="row">Secure and fast payments</div>
            <div class="row">Rewards and other</div>
        </div>
        <!-- <div class="youtubeRef"></div> -->
    </div>
    <div class="body">
        <div class="leftSide">
            <div id="QRcode-wrapper">
                <canvas width="154px" class="QRCode"></canvas>
                <div class="QRStub"></div>
                <div class="lds-spinner">
                    <div></div><div></div><div></div>
                    <div></div><div></div><div></div>
                    <div></div><div></div><div></div>
                </div>
            </div>
        </div>
        <div class="rightSide">
            <div class="cards">
                <div class="card visa"></div>
                <div class="card mc"></div>
                <div class="card express"></div>
                <div class="card discovery"></div>
            </div>
            <div class="description">Open <span class="qrtize-text">QRTize</span>  mobile app for safe payment</div>
            <div class="refference">
                <div class="url">
                    <a href="www.qrtize.com">www.qrtize.com</a>
                </div>
                <div class="appleIco">
                    <a href="#">
                        <img src="https://qrtize-dev.s3-us-west-1.amazonaws.com/icons/apple.svg" />
                    </a>
                </div>
                <div class="badgeAppStore">
                    <a href="#">
                        <img src="../images/badge_app_store.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="controls">
            <button></button>
        </div>
        <div class="state">
            <div class="waiting"><div><span>Scan me</span></div></div>
            <div class="scaned"><div><span>Scaned!</span></div></div>
            <div class="approved"><div><i></i><span>Approved</span></div></div>
            <div class="declined">
                <div><i></i><span>Declined</span></div>
                <div class="devider"></div>
                <div><i></i><span>Refresh</span></div>
            </div>
            <div class="inprogress"><div><span>In progress...</span></div></div>
            <div class="failed"><div><i></i><span>Failed</span></div></div>
        </div>
    </div>
</div>