<div id="qrtizeWidgetWrapper">
  <div id="qrtize-plugin-widget" class="widget popup waiting">
    <div class="close">
      <img src="https://qrtize-dev.s3-us-west-1.amazonaws.com/icons/close-icon-white.png" alt="close popup">
    </div>
    <div class="promoSide">
      <div class="header">
        <div class="logo">
          <img src="https://qrtize-dev.s3-us-west-1.amazonaws.com/logos/qrtize-logo-blue-white.png" alt="QRTize Logo">
        </div>
        <div class="cards">
          <div class="card visa"></div>
          <div class="card mc"></div>
          <div class="card express"></div>
          <div class="card discovery"></div>
        </div>
      </div>
      <div class="body">
        <div class="description">
          <div class="row">Contactless Payments</div>
          <div class="row">Secure</div>
          <div class="row">Faster</div>
          <div class="row">Easy Returns</div>
          <div class="row">Discount Coupons</div>
          <div class="row">Rewards</div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <div class="badgeAppStore">
            <a class="link" href="https://www.qrtize.app">www.qrtize.app</a>
          </div>
          <div class="youtubeRef">
            <a href="#">
              <img src="../images/badge_app_store.svg" />
            </a>
            <!-- <img src="../images/more.svg" /> -->
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>
    </div>
    <div class="qrCodeSide">
      <div class="header">
        <div class="bredcrumbs">
          Phone 
          <span class="breadcrumb">&rsaquo;</span> 
          Open QRTize app
          <span class="breadcrumb">&rsaquo;</span> 
          Select Scan QR
          <span class="breadcrumb">&rsaquo;</span> 
          Pay it easy!
          </div>
      </div>
      <div class="body">
        <div class="leftSide">
          <div id="QRcode-wrapper">
            <canvas class="QRCode"></canvas>
            <div class="QRStub"></div>
            <div class="lds-spinner">
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
              <div></div><div></div><div></div>
            </div>
          </div>
        </div>
        <div class="rightSide">
          <div class="description">
           <span class="desktopDesc">
            Scan using QRTize mobile app to make safe payment
           </span>
           <span class="mobileDesc">
            Tap on QR code to checkout using QRTize mobile app
           </span>
          </div>
        </div>
      </div>
      <div class="footer"> 
        <div class="controls">
          <button></button>
      </div>
      <div class="state">
        <div class="waiting"><div><span>Scan me</span></div></div>
        <div class="scaned"><div><span>Scaned!</span></div></div>
        <div class="approved"><div><i></i><span>Approved</span></div></div>
        <div class="declined">
            <div><i></i><span>Declined</span></div>
            <div class="devider"></div>
            <div><i></i><span>Refresh</span></div>
        </div>
        <div class="inprogress"><div><span>In progress...</span></div></div>
        <div class="failed"><div><i></i><span>Failed</span></div></div>
      </div>
      </div>
    </div>
  </div>
</div>